html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-size: 14px;
    font-family: "Jua", sans-serif;
    font-style: normal;
}

header{
    text-align: center;
    background-color: #a68dea;
    padding: 5vh 0;
    color: white;
}

.btn, button{
    background: #8a67eb;
    padding: .71em 2.14em;
    text-align: center;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: #b8b4c4 5px 5px  5px .5px;
    text-decoration-style:none;
}

.homepage-btn{
    font-size: 1.5rem;
    width: 50%;
    margin: .75rem 0 0;
    position: relative;
    top: 0;
    transition: all 0.1s ease;
}


.homepage-btn, .homepage-btn:visited{
    color: white;
    text-decoration-style:none;
}

.homepage-btn:hover{
    top: -2.5px;
    border-color: #302451;
    border-style: solid;
    border-width: 2px;
}

.homepage-btn-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem .5rem 1rem;
}


footer{
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 239, 245);
    padding: .5rem;
    text-align: center;
}

.footer-btn-div{
    display: flex;
}

.footer-btn-div > button{
    margin: 0 .5rem;
    font-size: .6rem;

}

button:hover{
    background-color: aquamarine;
    color: #302451;
}

/* feelings.html */

.to-home-btn{
    font-size: 1rem;
    margin: .75rem 0 0;
    transition: all 0.3s ease;
    color: white;
    text-decoration-style:none;

}

.to-home-btn:visited{
    color: white;
    text-decoration-style:none;
}

.to-home-btn:hover{
    background-color: aquamarine;
    color: #302451;
}

#feelings-btn-div, #moodlogger-btn-div{
    display: flex;
    row-gap: 1rem;
    column-gap: 1rem;
    grid-template-columns: auto auto auto auto  ;
    margin: 1rem;
}

.div-border{ /* Also used in moodlogger*/
    border: solid #302451 2px;
    padding: .5rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70vw;
}

/* moodlogger.html */

.emoji-btn{
    width: 10vw;
    transition: all 0.3s ease;
    position: relative;
    top: 0;
}

.emoji-btn:hover{
    top: -5px;
    cursor: pointer;
}

/* Journal.html */

#journal-entries-div{
    padding: 1rem;
    width: 100%;
    height: 70vh;
    box-sizing: border-box;
    overflow-y: scroll;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ccc7db;
}

.solid-line{
    width: 90%;
    border-color: #beb8ce;
}

.floating-div{
    font-size: 12px;
    padding: 1rem;
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: azure;
    width: 70vw;
    height: 70vh;
    border: solid #8a67eb;
    border-radius: 10px;
    visibility: hidden;
}


.entry-dates-div{
    display: flex;
}

.entry-dates-div > div{
    display: flex;
    flex-direction: column;
    margin-right: 10vw;
    
}

.entry-dates-div > div > p{
    margin: 0;  
}

.entry-action-btns-div{
    display: flex;
    justify-content: space-around;
}

.entry-action-btns-div > button, .entry-header > button{
    padding: .25rem;
    margin-bottom: 1rem;
    font-size: 1px;
}

button > img{
    max-width: 2rem;
}

.main-btn-div{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    column-gap: 1rem;
}

.main-btn-div > .btn{
    min-width: 20vw
}

.entry-list-item-div{
    background-color: white;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
}

.entry-list-item-div:hover{
    background-color: rgb(223, 255, 255);
}

.entry-header{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.entry-header > input {
    font-size: 1.3rem;
    width: 50%;
    border: dotted, #8a67eb;
    border-radius: 5px ;
}

.entry-content{
    border: dotted, #8a67eb;
    background-color: white;
    border-radius: 5px ;
    padding: .5rem;
    overflow-y: scroll;
    min-height: 35%;

}

#entry-textarea{
    width: 100%;
    box-sizing: border-box;
    border: dotted, #8a67eb;
    background-color: white;
    border-radius: 5px ;
    padding: .5rem;
    overflow-y: scroll;
    height: 65%;
}