html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    color: black;
    font-size: 14px;
    font-family: "Jua", sans-serif;
    font-style: normal;
}

header{
    text-align: center;
    background-color: #a68dea;
    padding: 5vh 0;
    color: white;
}

.btn, button{
    background: #8a67eb;
    padding: .71em 2.14em;
    text-align: center;
    cursor: pointer;
    color: white;
    border-radius: 10px;
    border: none;
    box-shadow: #b8b4c4 5px 5px  5px .5px;
}

.homepage-btn{
    font-size: 1.5rem;
    width: 50%;
    margin: .75rem 0 0;
    position: relative;
    top: 0;
    transition: all 0.1s ease;
}

.homepage-btn, .homepage-btn:visited{
    color: white;
    text-decoration-style:none;
}

.homepage-btn:hover{
    top: -2.5px;
    border-color: #302451;
    border-style: solid;
    border-width: 2px;
}

.homepage-btn-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem .5rem 1rem;
}


footer{
    font-size: .75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(245, 239, 245);
    padding: .5rem;
    text-align: center;
}

.footer-btn-div{
    display: flex;
}

.footer-btn-div > button{
    margin: 0 .5rem;
    font-size: .6rem;

}

.footer-btn-div > button:hover{
    background-color: aquamarine;
    color: #302451;
}