<!DOCTYPE html>
<html>
    <head>
        <title>Wellbeing App</title>
        <link rel="stylesheet" href="../static/index.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    </head>
    <body>
        <main>
            <header>
                <h1>Wellbeing App</h1>
                <p>Please select an activity.</p>
            </header>
            <div class=homepage-btn-div>
                <a class="btn homepage-btn" href="/mood">
                    <p>Mood Logger</p>
                </a>
                <a class="btn homepage-btn" href="/feelings">
                    <p>Feelings Wheel</p>
                </a>
                <a class="btn homepage-btn" href="/journal">
                    <p>Journal</p>
                </a>
                <a class="btn homepage-btn" href="/stats">
                    <p>Stats</p>
                </a>
            </div>
        </main>
        <footer>
            <p>
                Please note: cookies are used to store local user data.
                <br>None of the data is retained by me. 
            </p>
            <div class="footer-btn-div">
                <button>Download Data</button>
                <button>Upload Data</button>
                <button>Reset Data</button>
            </div>
            <p>Copyright © 2025 Micah's Tools</p>
        </footer>
    </body>
</html>