<!DOCTYPE html>
<html>
    <head>
        <title>Wellbeing App</title>
        <link rel="stylesheet" href="../static/index.css">
    </head>
    <body>
        <main>
            <header>
                <h1>Wellbeing App</h1>
                <p>Please select an activity.</p>
            </header>
            <div class=homepage-btn-div>
                <p class="homepage-btn"><a href="/mood">Mood Logger</a></p>
                <p class="homepage-btn"><a href="/feelings">Feelings Wheel</a></p>
                <p class="homepage-btn"><a href="/journal">Journal</a></p>
                <p class="homepage-btn"><a href="/stats">Stats</a></p>
            </div>
        </main>
        <footer>
            <p>Please note: cookies are used to store local user data.\n None of the data is retained by me </p>
            <button>Download Data</button>
            <button>Upload Data</button>
            <button>Reset Data</button>
            <p>Copyright © 2025 Micah's Tools</p>
        </footer>
    </body>
</html>